*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: sans-serif;
}

.app
{
  height: 100vh;
}
.app::-webkit-scrollbar
{
  display: none;
}
.sections
{
  color: #fff;
  width: 100%;
  height: calc(100vh - 4.6rem);
  background: #000;
  position: relative;
  top: 4.5rem;
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
}

.sections::-webkit-scrollbar
{
  display: none;
}


.topbar
{

    width: 100%;
    height: 4.6rem;
    background: #000;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 2;
    transition: .8s ease;

}

.wrapper
{
  padding: .4rem 1.88rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .leftside
{
  min-width: 70%;
  display: flex;
  align-items: center;
}

.logo
{
  margin: auto 0;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
} 

.wrapper .contacts
{

  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 2rem;
 
}

.contacts .icon
{
  cursor: pointer;
  align-items: center;
  font-weight: bold;
  display: flex;
  transition: .5s ease;
  gap: .8rem;
}

.icons
{
  margin-left: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 1rem;
}

.topbar-icon
{
  text-decoration: none;
  margin-left: 1rem;
  transition: .3s ease;
  font-size: 1.7rem;
  color: #fff;
}


.topbar-icon:hover
{
  transition: .3s ease;
  color: aqua;
  cursor: pointer;
  transform: rotateZ(-30deg);
}

.topbaricon
{
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}
.contacts .icon{
  color: #fff;
  font-size: .9rem;
  transition: .6s;
}

.contacts .icon:hover
{
  color: aqua;
  transition: .6s;

}

@media (max-width:800px) {
  
  .contacts .icon
  {
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }


}

@media (max-width:700px) {
  
}





.right
{
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 1.9rem;
  width: 2.1rem;
  cursor: pointer;
  transition: .5s ease;
}



.right span
{
  background: #fff;
  height: .2rem;
  width: 100%;
  border-radius: .2rem;
  transform-origin: left;
  transition: .8s ease;
}

.right:hover span
{
  transition: .5s ease;
}

.active
{

    width: 100%;
    height: 4.6rem;
    background: #000;
    color: #000;
    position: fixed;
    top: 0;
    z-index: 2;
    transition: .8s ease;
  }





.active .right span
{
  background: #fff;
  height: .3rem;
  width: 100%;
  border-radius: .2rem;
  transform-origin: left;
  transition: .8s ease;
}

.active .right
{
  transition: .5s ease;
}

.active .right:hover span
{
  background: aqua;
  transition: .5s ease;
}

.active .right span:nth-child(1)
{
  transform: rotate(45deg);
  transition: .8s ease;
}
.active .right span:nth-child(2){
  opacity: 0;
  transition: .8s ease;

}

.active .right span:nth-child(3){
  transform: rotate(-45deg);
  transition: .8s ease;

}
.a
{
  color: aqua;
  text-decoration: none;
  transition: .4s;
}

.nav .a:hover
{
  color: #fff;
  transition: .4s;
}


@media (max-width:900px) {
   
 .contacts .icon
 {
  display: none;
 }

}
