
.topbaricon
{
  width: 2.4rem;
  height: 2.4rem;
}


.intro
{
  width: 100vw;
  height: calc(100vh - 4.6rem);
  scroll-snap-align: start;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.left
{
  flex: .5;
  overflow: hidden;
}


.introimg
{
  min-width: 43.75rem;
  padding: 0 4rem;
  height: 43.75rem;
  display: flex;
  align-items: flex-end;
  align-items: center;
  justify-content: center;
}

.introimg img
{
  transition: .35s ease;
  object-fit: cover;
  border-radius: 0 0 70% 70%;
  margin-right: 2rem;
  width: 80%;
  height: 90%;
}

.right
{
  flex: .5;
  position: relative;
  overflow: hidden;
}

.rightwrapper
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  justify-content: center;
}
.rightwrapper h1
{
  font-size: 4.7rem;
  margin: .625rem 0;
}

.rightwrapper h2
{
  font-size: .99rem;
}

.rightwrapper h3
{
  font-size: 2.4rem;
  display: flex;
  gap: 1.3rem;
}

.rightwrapper h3 span
{
  color: red;
}


.rightwrapper a
{
  position: absolute;
 bottom: 1rem;
 left: 40%;
 background: #15fa65;
}

.arrow
{
  cursor: pointer;
  color: #15023a;
  width: 1.9rem;
  height: 1.9rem;
  animation: arrowBlink 2s infinite;
}

@keyframes arrowBlink {
  100%
  {
    opacity: 0;
  }
  0%
  {
    opacity: 1;
  }
}



.menu
{
  width: 11rem;
  height: calc(100vh - 4.6rem);
  background: #000;
  position: fixed;
  top: 4.375rem;
  right: -15.5rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: .8s ease;
  opacity: 0;
}


.menu a
{
  text-decoration: none;
}


.menu div
{
  width: 100%;
  padding: 1.3rem 2rem;
}


.menu li p
{
  font-size: 1.3rem;
  color: #fff;
}


.menuu
{
  width: 11rem;
  height: calc(100vh - 4.6rem);
  background: #000;
  position: fixed;
  top: 4.6rem;
  right: -2px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #fff;
  transition: .8s ease;
  opacity: 1;
}


.menuu a
{
  text-decoration: none;
  color: #fff;
}

.menuu div
{
  width: 100%;
  color: #fff;
  padding: 1.3rem 2rem;
  transition: .3s ease;
}

.menuu div:hover
{
  background: #000;
  color: #fff;
  transition: .3s ease;
}


.menuu div:hover li p
{
  transition: .27s ease;
  color: red;
  letter-spacing: .27rem;
}

.menuu li p
{
  font-size: 1.3rem;
  transition: .27s ease;
  color: #fff;
}


@media (max-width:800px) {

.menuu
{
  width: 14.75rem;
}


.menuu li p
{
  font-size: 1.7rem;
}

}



@media (max-width:1300px) {
  .introimg
  {
   background: #000;
  }

  .introimg img
  {
    transition: .35s ease;
    scale: .94;
  }
  
}

@media (max-width:1200px) {
  .introimg
  {
   width: 38rem;
  }}

  @media (max-width:1100px) {
    .introimg img
    {
      transition: .35s ease;
     transform: translateX(-4rem);
     scale: .89;
    }
  
  }
  @media (max-width:1000px) {
   
    .introimg img
    {
      transition: .35s ease;
     transform: translateX(-6rem);
     scale: .8;
    }
  
  } 
  
 @media (max-width:900px) {
   
    .introimg img
    {
      transition: .35s ease;
     transform: translateX(-9rem);
     scale: .7;
    }
  
  }
  @media (max-width:800px) {
   
    .introimg img
    {
      transition: .35s ease;
     transform: translateX(-14rem);
     scale: .7;
    }
  
  }
  @media (max-width:600px) {
    .intro
    {
      min-height: 100vh;
      flex-direction: column;
    }
    .introimg
    {
     display: none;
    }

    .right
    {
      position: absolute;
      height: 70vh;
    }
  
  }
 